.private-post{
  border: 2px solid green!important;
}

.public-post{
  border: 2px solid red!important;
}

.friends-post{
  border: 2px solid yellow!important;
}

.custom-post{
  border: 2px solid black!important;
}

.group-post{
  border: 2px solid orange!important;
}