.private-post{
  border: 3px solid #00F!important;
}

.private-post{
  border: 3px solid #00F!important;
}



.public-post{
  border: 3px solid #F00!important;
}

.friends-post{
  border: 3px solid #FC0!important;
}

.custom-post{
  border: 3px solid #000!important;
}

.group-post{
  border: 3px solid #FF9!important;
}